.titular {
    color: #85cfec;
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    background-color: black;
}

.botonCaja {
    background-color: rgb(58, 56, 56);
}

.cabeceraBoton {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5em;
    background-color: rgb(58, 56, 56);
}

.boton_atras {
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    background-color: #a5c4c7;
    color: black;
    text-align: center;
    border-radius: 0.6em;
    padding: 0.4em;
}

.boton_atras:hover {
    cursor: pointer;
    color: rgb(41, 39, 39);
    background-color: #8ac3c9;
}

.cajaTitulo {
    background-color: black;
} 

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 86vh;
    background-color: black;
}

.campo {
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.datos {
    color: rgb(10, 10, 10);
    font-weight: bolder;
    border-radius: 0.6em;
    background-color: #e4e6eb;
    width: 20em;
    text-align: center;
    height: 2.5em;
    padding: 1em;
}

.enviar {
    background-color: rgb(231, 40, 72);
    border: 1px solid rgb(199, 23, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.6em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    height: 1.75em;
    width: 3.5em;
}

.enviar:hover {
    background-color: rgb(189, 45, 69);
    border: 1px solid;
    color: white;
}

